@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

html {
  background: #f2f1f4;
  color: #19171c;
}
.description {
  display: none;
}
.active + .description {
  display: block;
}
.accordion {
  background-color: #807f67;
  border-radius: 1rem;
  padding: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
}
.section:hover {
  width: 100%;
  background-color: rgba(162, 161, 221, 0.5);
  cursor: pointer;
}
.section {
  display: flex;
  align-items: center;
}
i {
  font-size: 1.5rem;
  margin: 1rem;
}
.active > i {
  transform: rotateX(180deg);
  transition: 0.5s;
}
p {
  margin: 1rem;
}
